.font30 {
    font-size: 30px;
}

.d-block {
    display: block;
}

.d_none{
    display: none;
}

.bg-w {
    background: white;
}

.eventbtn:active{
    vertical-align: top;
    padding: 8px 5px 0px;
}